<nav class="navbar navbar-default">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li routerLinkActive="active"><a class="nav-item nav-link" routerLink="/home">Home</a></li>
                    <li *ngIf="!all.isLoggedIn()" routerLinkActive="active"><a class="nav-item nav-link" routerLink="/signup">Signup</a></li>
                    <li *ngIf="!all.isLoggedIn()" routerLinkActive="active"><a class="nav-item nav-link" routerLink="/forgetpass">ForgetPassword</a></li>
                    <!-- if user is not logged in "Login" will be shown in the navbar -->
                    <li *ngIf="!all.isLoggedIn()" routerLinkActive="active"><a class="nav-item nav-link" routerLink="/login">Login</a></li>
                    <!-- if user is logged in "Login" will be hidden while "Logout" will be shown in the navbar -->
                    <div *ngIf="all.isLoggedIn()">
                        <!-- if user clicked logout he will be sent to home page -->
                        <li routerLinkActive="active"><a routerLink="/login" class="nav-item nav-link" (click)="logout()">Logout</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>