<form (ngSubmit)="submitForm(f)" #f="ngForm" class="form-group">
    <!-- input password -->
    <input type="password" name="password" ngModel #password="ngModel" required class="form-control" placeholder="Password" minlength="5" validateEqual="passwordConfirm" reverse="true">
    <!-- password validations -->
    <div class="alert alert-danger text-center" *ngIf="!password.valid && password.touched">
        <div *ngIf="password.errors.required">password is required!</div>
        <div *ngIf="password.errors.minlength">can't be less than 5 characters</div>
    </div>

    <!-- input confirm password -->
    <input type="password" name="passwordConfirm" ngModel #passwordConfirm="ngModel" required validateEqual="password" class="form-control" placeholder="Confirm Password">
    <div class="alert alert-danger text-center" *ngIf="!passwordConfirm.valid && passwordConfirm.touched">
        <div *ngIf="passwordConfirm.errors.required">confirm password is required!</div>
        <div *ngIf="!passwordConfirm.valid && !passwordConfirm.errors.required">password mismatch</div>

    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Change Password</button>
</form>