<!-- sign up form -->

<form (ngSubmit)="submitForm(f)" #f="ngForm" class="form-group">

    <!-- input email -->
    <input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel required placeholder="Email" #email="ngModel">
    <!-- email validations -->
    <div class="alert alert-danger text-center" *ngIf="!email.valid && email.touched">
        <div *ngIf="email.errors.required">Email is required!</div>
        <div *ngIf="email.errors.pattern">Email is not valid</div>
    </div>


    <!-- send password button -->
    <button class="btn btn-primary" [disabled]="!f.valid">Send Password to that email</button>


    <div *ngIf="status">
        <div [ngClass]="style">
            <div>{{message}}</div>
        </div>

    </div>

</form>